.mandalRoot{
    width: 600px;
    height: 600px;
    background-color: transparent;   
}

.mandalaDisplay{
    width: 600px;
    height: 600px;  
    border-radius: 100%;   
    background-color:transparent;   
}

path {fill : none ;
     stroke-width : 1 ; 
     stroke : rgb(5, 5, 5);
    }

.rotation{    
    stroke : rgb(85, 51, 51); 
    transform-origin: center;
}