.header_mandala{
    position: relative;
    height: 500px;
    max-width: 1200px;
    width: 100%;

}
.header_image{
    position:absolute;
    background-image:url('../asset/images/Image_zen.jpg');
    height: 100%;  
    width: 100%;    
    filter: brightness(0.30) grayscale(1);
    background-size: cover;   
}

.text_whrite{
    color: white;   
    margin: 2px;
    text-align: center;
}

.header_text{
    z-index: 2;
    position:absolute;
    height: 100%;  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: "soljik";
    font-size: 4em;
    
}