body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;    
}

.app{
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_application{
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;  
  min-width: 1200px; 
  justify-content: center;
  border: grey 1px solid;
  
}
@media (max-width: 1000px) {
  .section_application {
    min-width: 100%;
    border: grey 0px solid
        
  }
}



