.section_footeur{

    background-color: rgba(207, 206, 206, 0.52);
    display: flex;  
    flex-wrap: wrap;    
    justify-content: space-between;  
    min-width: 1200px;    
    height: 250px;
   
}

.divfooter{
    width: 350px;
    
}
@media (max-width: 1000px) {
    .section_footeur {
      min-width: 100%;
          
    }

  }

